<a href="https://colab.research.google.com/github/oaravind/BDA_ICP1_A/blob/main/700772414_ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tasks:
• Explain the difference between Counter.count and self._count.

Counter.count is a class variable this usually refers to a class attribute or property that is accessed via the class itself.

self._count is an instance variable Unique to each instance of the class.Modifying it affects only that specific instance.

What is the output of a.get_counts() and b.get_counts()?

In [2]:
class Counter:
    count = 0
    def __init__(self):
        self._count = 0
    def increment(self):
        self._count += 1
        Counter.count += 1
    def get_counts(self):
        return f"Instance count: {self._count}, Class count: {Counter.count}"
a = Counter()
b = Counter()
a.increment()
a.increment()
b.increment()
print(a.get_counts())
print(b.get_counts())

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

How does the increment method affect both the class and instance variables?

Every call to increment() increases the instance’s _count by 1, it increases the shared class-level count by 1, regardless of which instance called it.

example:
def increment(self):
    self._count += 1        
    Counter.count += 1

2)Find and remove the bug from the code to obtain the given output
def sum_all(args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

output:
Sum of 1, 2, 3 is: 6  
Sum of 4, 5, 6, 7 is: 22

In [3]:
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

3. Write a function called first_word that takes a list of character strings as input and returns the first
element of the list in alphabetical order. For example, your function should work like this:
students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude'] (Input)
first_word(students) (Function)
'Bartholomew' (Output)
Hint: You’ll need to first sort your list in the function to accomplish this, then identify the first element. Within a
function, it is a good idea to use multiple lines of code to separate out the different steps. Just make sure all the code
that belongs to the function is indented!

In [4]:
def first_word(words):
    sorted_words = sorted(words)
    return sorted_words[0]

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))

Bartholomew

4. Create a class Employee and then do the following
• Create a data member to count the number of Employees
• Create a constructor to initialize name, family, salary, department
• Create a function to average salary
• Create a Fulltime Employee class and it should inherit the properties of Employee class
• Create the instances of Fulltime Employee class and Employee class and call their member functions.

In [5]:
class Employee:
    employee_count = 0
    salary_list = []

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1
        Employee.salary_list.append(salary)

    def average_salary(self):
        if Employee.salary_list:
            return sum(Employee.salary_list) / len(Employee.salary_list)
        return 0
class FulltimeEmployee(Employee):
    pass
e1 = Employee("Aravind", "oruganti", 50000, "HR")
e2 = FulltimeEmployee("Srinivas", "Gorantla", 60000, "Engineering")
e3 = FulltimeEmployee("Gowtham", "Darsi", 70000, "Finance")
print("Total Employees:", Employee.employee_count)
print("Average Salary:", e1.average_salary())
print(f"{e1.name}, {e1.department}")
print(f"{e2.name}, {e2.department}")
print(f"{e3.name}, {e3.department}")

Total Employees: 3
Average Salary: 60000.0
Aravind, HR
Srinivas, Engineering
Gowtham, Finance

https://drive.google.com/file/d/1rBkzD3kLNJgsXWRCyUsj3u8b09N3J4MH/view?usp=sharing