<a href="https://colab.research.google.com/github/oaravind/BDA_ICP1_A/blob/main/700772414_ASSIGNMENT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ARAVIND_ORUGANTI       (700772414)

a)Input the string “Python” as a list of characters from console, delete at least 2
characters, reversetheresultant string, and print it.

In [1]:
input_string = input("Enter the string: ")
char_list = list(input_string)
if len(char_list) >= 4:
    del char_list[3]
    del char_list[1]
else:
    print("String too short to delete 2 characters.")
    exit()
char_list.reverse()
print("".join(char_list))

Enter the string: aravind
dniaa

b)Take two numbers from user and perform at least 4 arithmetic operations on them.

In [2]:
n1 = float(input("Enter the first number: "))
n2 = float(input("Enter the second number: "))
addition = n1 + n2
subtraction = n1 - n2
multiplication = n1 * n2
if n2 != 0:
    division = n1 / n2
else:
    division = "Undefined (cannot divide by zero)"
print(f"Addition: {n1} + {n2} = {addition}")
print(f"Subtraction: {n1} - {n2} = {subtraction}")
print(f"Multiplication: {n1} * {n2} = {multiplication}")
print(f"Division: {n1} / {n2} = {division}")

Enter the first number: 20
Enter the second number: 25
Addition: 20.0 + 25.0 = 45.0
Subtraction: 20.0 - 25.0 = -5.0
Multiplication: 20.0 * 25.0 = 500.0
Division: 20.0 / 25.0 = 0.8

Write a program that accepts a sentence and replace each occurrence of ‘python’ with
‘pythons’.

In [3]:
s = input("Enter a sentence: ")
updated_sentence = s.replace('python', 'pythons')
print("Updated sentence:", updated_sentence)

Enter a sentence: I love playing with python
Updated sentence: I love playing with pythons

Use the if statement conditionsto write a program to print the letter grade based on
an input class score. Use the grading scheme we are using in this class.

In [4]:
score = float(input("Enter your class score (0–100): "))
if score >= 90 and score <= 100:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
elif score >= 0:
    grade = 'F'
else:
    grade = 'Invalid score'
print("Your grade is:", grade)

Enter your class score (0–100): 90
Your grade is: A

Write a code that appends the type of elements from a given list.
Input
x = [23, ‘Python’, 23.98]
Expected output
[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [5]:
x = [23, 'Python', 23.98]
types = [type(item) for item in x]
print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set IT_companies
• Add 'Twitter' to IT_companies
• Insert multiple IT companies at once to the set IT_companies
• Remove one of the companies from the set IT_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set.

In [6]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1.
print("Length of IT_companies:", len(IT_companies))

# 2.
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

# 3.
IT_companies.update(['LinkedIn', 'Snapchat', 'Tesla'])
print("After adding multiple companies:", IT_companies)

# 4.
IT_companies.remove('Oracle')
print("After removing 'Oracle':", IT_companies)

# 5.
try:
    IT_companies.remove('NotACompany')  # This will raise an error
except KeyError:
    print("Using remove: KeyError if the element is not present.")

IT_companies.discard('NotACompany')  # No error
print("Using discard: No error if the element is not present.")

# 6.
print("A union B:", A.union(B))

# 7.
print("A intersection B:", A.intersection(B))

# 8.
print("Is A subset of B:", A.issubset(B))

# 9.
print("Are A and B disjoint sets:", A.isdisjoint(B))

# 10.
print("A union B (A | B):", A | B)
print("B union A (B | A):", B | A)

# 11.
print("Symmetric difference (A ^ B):", A.symmetric_difference(B))

# 12.
del IT_companies
del A
del B

# 13.
age_set = set(age)
print("Original age list length:", len(age))
print("Set of ages length:", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Oracle', 'Twitter', 'Apple', 'Facebook', 'Amazon', 'Google', 'Microsoft', 'IBM'}
After adding multiple companies: {'Oracle', 'Amazon', 'Facebook', 'Microsoft', 'Tesla', 'Google', 'Snapchat', 'Apple', 'LinkedIn', 'Twitter', 'IBM'}
After removing 'Oracle': {'Amazon', 'Facebook', 'Microsoft', 'Tesla', 'Google', 'Snapchat', 'Apple', 'LinkedIn', 'Twitter', 'IBM'}
Using remove: KeyError if the element is not present.
Using discard: No error if the element is not present.
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
A union B (A | B): {19, 20, 22, 24, 25, 26, 27, 28}
B union A (B | A): {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference (A ^ B): {27, 28}
Original age list length: 8
Set of ages length: 5